asgiref==3.6.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.5.7
charset-normalizer==3.1.0
colorgram.py==1.2.0
colors1==0.0.2
distlib==0.3.6
Django==4.2.1
djangorestframework==3.14.0
filelock==3.10.7
heroes==1.0.2
idna==3.4
Pillow==9.5.0
platformdirs==3.2.0
pytz==2023.3
request2==0.2
requests==2.31.0
soupsieve==2.4.1
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.3
virtualenv==20.21.0
